# Ignore MacOS system files
.DS_Store

# Ignore Visual Studio Code workspace settings
.vscode/*

# Ignore .NET specific build and cache directories
# Debug folders often contain build output
**/Debug/**
# Project specific cache used by some .NET projects
**/project-cache/**
# Visual Studio temporary files
**/.vs/**
# Object files, can be generated as part of the build
**/obj/**

# Ignore Node.js modules directory
# node_modules folders contain your project's npm dependencies
node_modules/

# Ignore the build directory
# dist/ typically contains the output from your TypeScript or JavaScript build process
dist/**
!dist/.gitkeep

# Ignore environment configuration files and archives
# .env.local can contain local environment-specific variables
.env.local
# Ignore zip files, often used for archiving or distribution
*.zip

# Ignore TypeScript configuration file
# tsconfig.json is used to configure TypeScript compiler options
tsconfig.json
